@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1a2035;
  color: #fff;
}

::-webkit-scrollbar {
  display: none;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
